<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/LayoutPadrao :: layout">
</head>
 <body>
 <!--UsuarioRegisterForm-->
 <div class="modal fade" id="FormRegistroModal" tabindex="-1" role="dialog"
  aria-labelledby="FormRegistroModalLabel" th:fragment="CadastroUsuario">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">
                     x
                 </button>
                 <h4 class="modal-title" id="FormRegistroModalLabel">
                     Cadastro de Usuário
                 </h4>
             </div>
             <div class="modal-body">
                 <form id="UsuarioForm" data-toggle="validator" th:object="${pessoaF}"  th:action="@{/saveF}" method="post">
                     <div class="row">
                         <div class="form-group col-md-6">
                             <label for="InputUsuarioNome">
                                 Nome:
                             </label>
                             <input class="form-control" th:field="${pessoaF.nome}" id="InputUsuarioNome" type="text" placeholder="Digite o Nome" required>
                             <div class="help-block with-errors"></div>
                         </div>
                         <div class="form-group col-md-6">
                             <label for="InputUsuarioEmail">
                                 Email:
                             </label>
                             <input class="form-control" th:field="${pessoaF.email}" id="InputUsuarioEmail" type="email" placeholder="Digite o email" required
                             data-error="Email inválido! Exemplo: email@email.com">                        	
                         	<div class="help-block with-errors"></div>
                         </div>
                     </div>
                     <div class="row">
                     	<div class="form-group col-md-6">
                             <label for="UsuarioCep">
                             Cep:
                             </label>
 							<input class="form-control" th:field="${pessoaF.cep}" type="text" id="UsuarioCep" value="" maxlength="9" placeholder="Digite o seu cep" required>
                         	<a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" >Não sei meu cep.</a>
                         	<div class="help-block with-errors"></div>
                         </div>
                         <div class="form-group col-md-6">
                              <label for="InputUsuarioEndereco">
                                  Endereço:
                              </label>
                              <input class="form-control" th:field="${pessoaF.enderecos[0].endereco}" id="InputUsuarioEndereco" type="text" placeholder="Endereço" readonly>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-md-6">
                              <label for="InputUsuarioCidade">
                                  Cidade:
                              </label>
                             <input class="form-control" th:field="${pessoaF.enderecos[0].cidade}" id="InputUsuarioCidade" type="text" placeholder="Cidade" readonly>
                          </div>
                          <div class="form-group col-md-3">
                              <label for="InputUsuarioUf">
                                  UF:
                              </label>
                             <input class="form-control" th:field="${pessoaF.enderecos[0].uf}" id="InputUsuarioUf" type="text" placeholder="UF" readonly>
                          </div>
  						<div class="form-group col-md-3">
                              <label for="InputUsuarioNumero">
                                 Numero:
                             </label>
                             <input class="form-control" th:field="${pessoaF.enderecos[0].numero}" id="InputUsuarioNumero" type="text" placeholder="10" required
                              data-error="Preencha o Campo">
                             <div class="help-block with-errors"></div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="form-group col-md-6">
                             <label for="InputUsuarioCPF">
                                 CPF:
                             </label>
                             <input class="form-control" th:field="${pessoaF.cpf}" id="InputUsuarioCPF" type="text" placeholder="Digite o CPF" required>
                             <div class="help-block with-errors"></div>
                         </div>
                         <div class="form-group col-md-6">
                             <label for="InputUsuarioTelefone">
                                 Telefone:
                             </label>
                             <input class="form-control" th:field="${pessoaF.telefones[0].numero}" id="InputUsuarioTelefone" type="text" placeholder="Digite o Telefone" required>
                             <div class="help-block with-errors"></div>
                         </div>
 
                     </div>
                     <div class="row">
                     <div class="form-group col-md-6">
                             <label for="InputUsuarioSenha">
                                 Senha:
                             </label>
                             <input class="form-control" th:field="${pessoaF.senha}" id="InputUsuarioSenha" type="password" placeholder="Digite a Senha" required>
                             <div class="help-block with-errors"></div>
                         </div>
                        <div class="form-group col-md-6">
                             <label for="InputUsuarioConfirmar">
                                 Confirmar Senha:
                             </label>
                             <input class="form-control" id="InputUsuarioConfirmar" type="password" placeholder="Digite a senha" required
                             data-match="#InputUsuarioSenha" data-match-error="Atenção! As senhas não estão iguais.">
                             <div class="help-block with-errors"></div>
                         </div>
                     </div>
                     <hr/>
                     <div class="row">
                       <div class="col-md-12">
                         <button id="btn-salvar-usuario" class="btn btn-primary" type="submit">Salvar</button>
                         <button class="btn btn-default" type="button" data-dismiss="modal">Cancelar</button>
                       </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
 </div>
 </body>
 </html>