<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/LayoutPadrao :: layout">
</head>
<body>
	<th:block th:fragment="EditP" th:if="${#authentication != null}">
		<div class="modal fade" id="ModalEditarPerfil" tabindex="-1"
			role="dialog" aria-labelledby="ModalEditarPerfilLabel"
			th:if="${#strings.equals(role[0], 'ROLE_PESSOA_JURIDICA')}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title" id="ModalEditarPerfilLabel">Editar
							perfil da empresa</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator">
							<div class="form_description">
								<h2>myList</h2>
								<p>This is your form description. Click here to edit.</p>
							</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Email</th>
										<th>Description</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td>email@email.com</td>
										<td>Some description here</td>
										<td><a href="#">Delete</a>|<a href="#">Edit</a></td>
									</tr>
								</tbody>
							</table>
							<br /> <a href="#">New</a>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="ModalEditarPerfil" tabindex="-1"
			role="dialog" aria-labelledby="ModalEditarPerfilLabel"
			th:if="${#strings.equals(role[0], 'ROLE_PESSOA_FISICA')}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title" id="ModalEditarPerfilLabel">Editar
							perfil do usuário</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator">
							<div class="form_description">
								<h2>myList</h2>
								<p>This is your form description. Click here to edit.</p>
							</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Email</th>
										<th>Description</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Full Name</td>
										<td>email@email.com</td>
										<td>Some description here</td>
										<td><a href="#">Delete</a>|<a href="#">Edit</a></td>
									</tr>
								</tbody>
							</table>
							<br /> <a href="#">New</a>
						</form>
					</div>
				</div>
			</div>
		</div>

	</th:block>
</body>
</html>