<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/LayoutPadrao :: layout">
</head>
<body>
	<th:block th:fragment="EditP"
		th:if="${#strings.equals(role, 'ROLE_PESSOA_JURIDICA')} OR  ${#strings.equals(role, 'ROLE_PESSOA_FISICA')}">
		<div class="modal fade" id="ModalEditarPerfil" tabindex="-1"
			role="dialog" aria-labelledby="ModalEditarPerfilLabel"
			th:if="${#strings.equals(role, 'ROLE_PESSOA_JURIDICA')}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title" id="ModalEditarPerfilLabel">Editar
							perfil da empresa</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator" th:object="${pessoa}"
							th:action="@{/saveJ}" method="post">

							<input class="form-control" th:field="*{id}" id="EmpEditId"
								type="hidden">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EmpEditNome"> Nome: </label> <input
										class="form-control" th:field="*{nome}" id="EmpEditNome"
										type="text" placeholder="Nome da Empresa ou Prestador"
										required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="EmpEditEmail"> Email: </label> <input
										class="form-control" th:field="*{email}" id="EmpEditEmail"
										type="email" placeholder="Digite o email" required
										data-error="Email inválido! Exemplo: email@email.com">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EmpEditCep"> Cep: </label> <input
										class="form-control" th:field="*{cep}" type="text"
										id="EmpEditCep" value="" maxlength="9"
										placeholder="Digite o seu cep" required> <a
										href="http://www.buscacep.correios.com.br/sistemas/buscacep/"
										target="_blank">Não sei meu cep.</a>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="EmpEditEndereco"> Endereço: </label> <input
										class="form-control" th:field="*{enderecos[0].endereco}"
										id="EmpEditEndereco" type="text" placeholder="Endereço"
										readonly>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">

								<div class="form-group col-md-4">
									<label for="EmpEditCidade"> Cidade: </label> <input
										class="form-control" th:field="*{enderecos[0].cidade}"
										id="EmpEditCidade" type="text" placeholder="Cidade" readonly>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-2">
									<label for="EmpEditUf"> UF: </label> <input
										class="form-control" th:field="*{enderecos[0].uf}"
										id="EmpEditUf" type="text" placeholder="UF" readonly>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-2">
									<label for="EmpEditNumero"> Numero: </label> <input
										class="form-control" th:field="*{enderecos[0].numero}"
										id="EmpEditNumero" type="text" placeholder="10" required
										data-error="Preencha o Campo">
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-4">
									<label for="EmpEditCNPJ"> CNPJ: </label> <input
										class="form-control" th:field="*{cnpj}" id="EmpEditCNPJ"
										type="text" placeholder="CNPJ" required
										data-error="Preencha o Campo">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EmpEditTelefone"> Telefone: </label> <input
										class="form-control" th:field="*{telefones[0].numero}"
										id="EmpEditTelefone" type="text"
										placeholder="Digite o telefone" readonly>
									<div class="help-block with-errors"></div>
								</div>

								<div class="form-group col-md-6">
									<label for="EmpEditCategoria"> Categoria: </label> <select
										class="form-control" th:field="*{categoria}"
										id="EmpEditCategoria" required>
										<option value="">Selecione a categoria</option>
										<option value="1">Advocacia</option>
										<option value="2">Alimentação</option>
										<option value="3">Automotiva</option>
										<option value="4">Banco</option>
										<option value="5">Bebida</option>
										<option value="6">Bombeiro</option>
										<option value="7">Comércio</option>
										<option value="8">Distribuidora</option>
										<option value="9">Educação</option>
										<option value="10">Eletricidade</option>
										<option value="11">Eletrodomésticos</option>
										<option value="12">Gráfica</option>
										<option value="13">Imobiliária</option>
										<option value="14">Informática</option>
										<option value="15">Moda</option>
										<option value="16">Música</option>
										<option value="17">Policia</option>
										<option value="18">Promotoria</option>
										<option value="19">Publicidade</option>
										<option value="20">Seguradora</option>
										<option value="21">Segurança</option>
										<option value="22">Telecomunicações</option>
										<option value="23">Turismo</option>
									</select>
									<div class="help-block with-errors"></div>

								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EmpEditSenha"> Senha: </label> <input
										class="form-control" th:field="*{password}" id="EmpEditSenha"
										type="password" placeholder="Digite a Senha" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="EmpEditConfirmar"> Confirmar Senha: </label> <input
										class="form-control" id="EmpEditConfirmar" type="password"
										placeholder="Digite a senha" data-match="#EmpEditSenha"
										data-match-error="Atenção! As senhas não estão iguais."
										required>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<b>Descrição:</b>
									<textarea rows="3" cols="80" maxlength="250" id="EmpDescricao"
										th:field="*{descricao}"
										placeholder="Insira seu horário de funcionamento e informações adicionais da empresa">
							</textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary" type="submit">Salvar</button>
									<button class="btn btn-default" type="button"
										data-dismiss="modal">Cancelar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="ModalEditarPerfil" tabindex="-1"
			role="dialog" aria-labelledby="ModalEditarPerfilLabel"
			th:if="${#strings.equals(role, 'ROLE_PESSOA_FISICA')}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title" id="ModalEditarPerfilLabel">Editar
							perfil do usuário</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator" th:object="${pessoafisica}"
							th:action="@{/saveF}" method="post">

							<input class="form-control" th:field="*{id}" id="EditarUsuarioId"
								type="hidden">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EditarUsuarioNome"> Nome: </label> <input
										class="form-control" th:field="*{nome}" id="EditarUsuarioNome"
										type="text" placeholder="Nome da Empresa ou Prestador"
										required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="EditarUsuarioEmail"> Email: </label> <input
										class="form-control" th:field="*{email}"
										id="EditarUsuarioEmail" type="email"
										placeholder="Digite o email" required
										data-error="Email inválido! Exemplo: email@email.com">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EditarUsuarioCep"> Cep: </label> <input
										class="form-control" th:field="*{cep}" type="text"
										id="EditarUsuarioCep" value="" maxlength="9"
										placeholder="Digite o seu cep" required> <a
										href="http://www.buscacep.correios.com.br/sistemas/buscacep/"
										target="_blank">Não sei meu cep.</a>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="EditarUsuarioEndereco"> Endereço: </label> <input
										class="form-control" th:field="*{enderecos[0].endereco}"
										id="EditarUsuarioEndereco" type="text" placeholder="Endereço"
										readonly>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">

								<div class="form-group col-md-4">
									<label for="EditarUsuarioCidade"> Cidade: </label> <input
										class="form-control" th:field="*{enderecos[0].cidade}"
										id="EditarUsuarioCidade" type="text" placeholder="Cidade"
										readonly>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-2">
									<label for="EditarUsuarioUf"> UF: </label> <input
										class="form-control" th:field="*{enderecos[0].uf}"
										id="EditarUsuarioUf" type="text" placeholder="UF" readonly>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-2">
									<label for="EditarUsuarioNumero"> Numero: </label> <input
										class="form-control" th:field="*{enderecos[0].numero}"
										id="EditarUsuarioNumero" type="text" placeholder="10" required
										data-error="Preencha o Campo">
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-4">
									<label for="EditarUsuarioCpf"> CPF: </label> <input
										class="form-control" th:field="*{cpf}" id="EditarUsuarioCpf"
										type="text" placeholder="CPF" required
										data-error="Preencha o Campo">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EditarUsuarioTelefone"> Telefone: </label> <input
										class="form-control" th:field="*{telefones[0].numero}"
										id="EditarUsuarioTelefone" type="text"
										placeholder="Digite o telefone" readonly>
									<div class="help-block with-errors"></div>
								</div>


							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="EditarUsuarioSenha"> Senha: </label> <input
										class="form-control" th:field="*{password}"
										id="EditarUsuarioSenha" type="password"
										placeholder="Digite a Senha" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="EditarUsuarioConfirmar"> Confirmar Senha: </label>
									<input class="form-control" id="EditarUsuarioConfirmar"
										type="password" placeholder="Digite a senha"
										data-match="#EditarUsuarioSenha"
										data-match-error="Atenção! As senhas não estão iguais."
										required>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary" type="submit">Salvar</button>
									<button class="btn btn-default" type="button"
										data-dismiss="modal">Cancelar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</th:block>
</body>
</html>