<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/LayoutHeader :: layout">
</head>
<body th:fragment="menuLateral">
<div class="mostrarCel" >
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">FindService</a>
        </li>
        <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"></span> Pesquisar
                  <span class="caret" ></span></a>
                <ul class="dropdown-menu" >
                     <li>
 						<a href="#search">Pesquisar por Nome</a>
 						<a href="#">Pesquisar Por categoria</a>
 					</li>
 				</ul>
 			</li>
       <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:if="${#authentication} == null"><span class="glyphicon glyphicon-user"></span> Cadastrar
                 <span class="caret" ></span></a>
                 <ul class="dropdown-menu" >
                     <li>
                         <a href="#" data-toggle="modal" data-target="#FormRegistroModal">Cadastrar Usuário</a>
                     </li>
                     <li>
                         <a href="#" data-toggle="modal" data-target="#FormRegistroEmpModal">Cadastrar Empresa/Prestador</a>
                     </li>
                 </ul>
            </li>
            <li th:if="${#authentication} == null"><a href="#" data-toggle="modal" data-target="#LoginFormModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li class ="dropdown" th:if="${#authentication} != null">
            	 <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span class="glyphicon glyphicon-user "></span><span th:text="${'Bem vindo, '+nome}"></span>
                 <span class="caret" ></span></a>
                 <ul class="dropdown-menu">
                     <li>
                         <a href="#" th:if="${#strings.equals(role[0], 'ROLE_PESSOA_JURIDICA')}" data-toggle="modal"
							data-target="#ModalEditarPerfil">Editar Perfil de Empresa</a>
                    	 <a href="#" th:if="${#strings.equals(role[0], 'ROLE_PESSOA_FISICA')}" data-toggle="modal"
							data-target="#ModalEditarPerfil">Editar Perfil</a>
                         <a th:href="@{/logout}">Logout</a> 
                     </li>
         </ul>         
     </li>
        <li>
          <a class="js-scroll-trigger" href="#contact" onclick=$("#menu-close").click();></a>
        </li>
      </ul>
    </nav>
    </div>
            <script src="js/barra.js"></script>
    
 </body>
</html>