<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/LayoutPadrao :: layout">
</head>
 <body>
  <!-- Modal de Pesquisa -->
     <div id="search" th:fragment="Pesquisa">
      <button type="button" class="close">×</button>
      <form id="pesquisar">
         <input type="search" value="" placeholder="Digite o nome da Empresa ou Prestador" id="pesq" autocomplete="off"/>
          <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
  </div>
 </body>
 </html>